.btn-info, .btn-info:hover, .btn-info:active,.btn-info.disabled, .btn-info:visited {
    background-color: #FF8C42;
    border-color: #FF8C42;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #757BC8;
    border-color: #757BC8;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #EF3E33;
    border-color: #EF3E33;
}
.card-header{
    background-color: #757BC8;
}
.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #757BC8;
    border-color: #757BC8;
}

.page-link {
    position: relative;
    display: block;
    color: #757BC8;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dataTables_wrapper,.dataTables_filter {
    margin-bottom: 1em;
}


